<% provide(:title, 'About Us')%>
 
			<H1>About Us</H1>
			<p>
				the	<a href="http://railstutorial.org/">Rails tutorial</a>
				is a project to make a book and screencasts to teach  wen development.
				sample application.
			</p>
	 